@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

/*요소(element) 여백 초기화*/

html, body, div, span, figure, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, form, fieldset, input, textarea, select, table, th, td {
    margin: 0;
    padding: 0;
}

/*목록 블릿 제거*/

ul {
    list-style: none;
}

/*링크 스타일*/

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus {
    color: #666;
    ;
}

/*숨김 컨텐츠*/

#validation-heading {
    position: absolute;
    left: -999rem;
}

/*박스 크기 계산 방식*/

*, *:before, *:after {
    box-sizing: border-box;
}
.a11y a {
    background: rgba(0, 0, 0, 0.5);
    color: hsla(0, 100%, 100%, 1);
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 1rem;
    transform: translateX(-100%);
    z-index: 10;
}
.a11y a:focus {
    transform: translateX(0);
}

/*본문 스타일*/

html {
    font-size: 10px;
}
body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: 400;
    color: #000;
    font-size: 1.4rem;
    background: url('../images/common/wrap_bg.jpg') no-repeat 50% 0, url('../images/common/bg_body.gif') repeat-x;
}

/*wrapper*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*공통 스타일*/

.header, .visual, .main-content, .slogan, .footer-inner {
    width: 886px;
}

/*헤더*/

.header {
    position: relative;
    background: url('../images/common/bg_menubox.png')no-repeat 0 0;
    height: 105px;
    padding: 0 22px;
}

/*로고*/

.logo {
    position: absolute;
    left: 60px;
    top: 45px;
    width: 155px;
    height: 29px;
    background: url('../images/common/logo.gif') no-repeat 0 0;
}

/*웹카페 안내링크*/

.lnb {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}
.lnb a {
    padding: 0.5rem;
    margin-left: 1px;
}
.lnb li:before {
    content: ":";
}
.lnb li:first-child:before {
    content: "";
}

/*메인 메뉴*/

.gnb {
    background: url('../images/common/sitemenu_bg.gif') no-repeat;
}
.main-menu {
    display: flex;
    padding-left: 217px;
    position: relative;
}
.sub-menu {
    position: absolute;
    top: 43px;
    white-space: nowrap;
    display: none;
}
.sub-menu li {
    display: inline-block;
}
.sub-menu li::before {
    content: ".";
    position: relative;
    top: -0.4rem;
    margin-right: 0.5rem;
}
.sub-menu a {
    display: inline-block;
    padding: 0.5rem;
}
.sub-menu1 {
    left: 217px;
}
.sub-menu2 {
    left: 340px;
}
.sub-menu3 {
    left: 450px;
}
.sub-menu4 {
    left: 540px;
}
.sub-menu5 {
    left: 550px;
}
.sub-menu6 {
    left: 525px;
}
.sub-menu-act {
    display: block !important;
}

/*메인 컨텐츠*/

.main-content {
    background: url('../images/common/contents_box.png') no-repeat;
    padding: 30px 25px;
    display: grid;
    grid-template-columns: 239px 375px 185px;
    grid-template-rows: 18% 18% 10% 18% 18% 18%;
    grid-column-gap: 19px;
    grid-row-gap: 5px;
    grid-template-areas: "login       search  event" "login       board   event" "login       board   ebent" "validation  board   related" "term        news    favorit" "term        news    favorit";
}

/*로그인*/

.login {
    width: 239px;
    background: url('../images/main/login_box.gif') no-repeat;
    padding: 10px;
    grid-area: login;
}
.login-heading {
    font-size: 1.5rem;
    margin-left: 10px;
    color: hsla(55, 80%, 70%, 1);
}
.user-id, .user-pw {
    width: 155px;
    margin-bottom: 5px;
}
.login-form {
    margin: 15px 5px 10px;
    border-bottom: 1px solid #aaa;
    height: 55px;
    display: flex;
    /* flex-direction: column; flex-wrap: wrap; */
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-between;
}
.login-form span {
    display: inline-block;
    width: 4em;
}
.login-form input {
    width: 90px;
    height: 20px;
    border: 1px solid #aaa;
}
.btn-login {
    width: 50px;
    height: 45px;
    background: url('../images/main/btn_login.gif') no-repeat;
    padding-top: 45px;
    overflow: hidden;
    cursor: pointer;
}
.member {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    font-size: 1.3rem;
    padding-bottom: 5px;
}
.member li:before {
    content: ">";
    color: #f00;
    margin-right: 5px;
}

/*유효성 검사 링크*/

.validation {
    width: 239px;
    grid-area: validation;
}
.validation a {
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    display: block;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
}

/*웹 관련 용어*/

.term {
    width: 239px;
    padding: 15px 10px;
    background: url('../images/main/bg_standardbox.gif') no-repeat;
    grid-area: term;
}
.term-heading {
    font-size: 1.5rem;
}
.term-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-rows: 20px 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 5px;
}
.term-list-heading {
    grid-column: 2/3;
    grid-row: 1;
    color: hsl(199, 100%, 27%);
}
.term-list-thumbnail {
    grid-column: 1/3;
    grid-row: 1 / span 2;
}
.term-list-brief {
    grid-column: 2/3;
    grid-row: 2/span 1;
    font-size: 1.3rem;
}

/*검색*/

.search-form {
    width: 375px;
    grid-area: search;
    background: url('../images/main/bg_search.gif') no-repeat;
    padding: 25px 30px 10px;
    display: flex;
    justify-content: space-between;
}
.search-form span {
    font-size: 600;
    background: url('../images/common/icon_search.gif') no-repeat 0 2px;
    padding-left: 22px;
}
.search-form input {
    width: 190px;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.btn-search {
    width: 40px;
    height: 20px;
    cursor: pointer;
    position: relative;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
}
.btn-search:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/common/btn_search.gif') no-repeat;
}

/*공지사항 및 자료실*/

.board {
    width: 375px;
    grid-area: board;
    position: relative;
}
.board-list {
    display: flex;
}
.board-list [role="tab"] {
    cursor: pointer;
}
.unvisual {
    display: none;
}
.board div ul {
    display: block;
    margin-top: 15px;
}
.board div li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.board div li a {
    display: block;
    /* width: calc(100% - 85px); */
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    /*크롬에서 적용되지 않음*/
    text-overflow: ellipsis;
}
.board div li a:before {
    content: '.';
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.board a[class$="more"] {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    margin-right: -5px;
}

/*새소식*/

.news {
    width: 375px;
    grid-area: news;
    position: relative;
    background: url('../images/main/bbs_h3_bg.gif') no-repeat 0 25px;
}
.news-more {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin-right: -5px;
}
.news-article {
    display: grid;
    grid-template-columns: 112px 1fr;
    grid-template-rows: 20px 25px 1fr;
    grid-column-gap: 15px;
    grid-template-areas: "thumbnail heading" "thumbnail time" "thumbnail brief";
    margin-top: 10px;
}
.news-article h3 {
    font-size: 1.4rem;
    grid-area: heading;
}
.news-article h3::before {
    content: '.';
    position: relative;
    top: -5px;
    padding-right: 5px;
}
.news-article time {
    grid-area: time;
    text-align: right;
}
.news-article p {
    grid-area: brief;
    line-height: 1.5;
}
.news-article .news-thumbnail {
    grid-area: thumbnail;
    text-align: center;
    padding-top: 3px;
}
.news-article .news-thumbnail img {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

/* .news {
    width: 375px;
    grid-column-start: 4;
    grid-row-start: 3;
    position: relative;
}
.news-heading {
    padding: 0 0 5px;
}
.news-article {
    width: 375px;
    background: url('../images/main/bbs_h3_bg.gif') no-repeat;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 112px 1fr;
    grid-template-rows: 20px 15px 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 2px;
}
.news-article h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.4rem;
}
.news-article h3::before {
    content: '·';
    padding-right: 5px;
}
.news-article time {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
    font-size: 1.3rem;
}
.news-article p {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 18px;
}
.news-article .news-thumbnail {
    grid-column: 1/2;
    grid-row: 1;
    grid-row: 1/4;
}
.news-article #news-thumbnail-caption {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.news-article .news-more {
    position: absolute;
    right: 0;
    top: 0;
} */


/*이벤트*/

.event {
    width: 185px;
    grid-area: event;
    position: relative;
}
.event-heading {
    padding: 5px 0 10px 10px;
    background: url('../images/main/eventbox_bg.gif') no-repeat;
}
.event-detail {
    padding: 5px 0 10px 10px;
    background: url('../images/main/eventbox_bg.gif') no-repeat 0 bottom;
}
.event-detail img {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}
.btn-group {
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn-prev, .btn-next {
    display: inline-block;
    width: 17px;
    height: 16px;
    cursor: pointer;
}
.btn-group .btn-prev {
    background: url('../images/main/btn_event_prev.gif') no-repeat;
}
.btn-group .btn-next {
    background: url('../images/main/btn_event_next.gif') no-repeat;
    margin-left: 2px;
}

/*관련사이트*/

.related {
    width: 185px;
    grid-area: related;
    background: url('../images/main/eventbox_bg.gif') no-repeat 0 100%;
    margin-bottom: 10px;
}
.related-heading {
    padding: 5px 10px 10px 10px;
    background: url('../images/main/eventbox_bg.gif') no-repeat;
}
.related-list {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 10px;
    margin: 0 15px 10px 10px;
    height: 25px;
    overflow: hidden;
    transition: all 0.5s;
}
.related-list li {
    line-height: 25px;
}
.related-list:hover, .related-list-act {
    height: auto;
    padding: 5px 10px;
}

/*인기사이트*/

.favorite {
    width: 185px;
    grid-area: favorit;
    background: url('../images/main/eventbox_bg.gif') no-repeat 0 100%;
}
.favorite-heading {
    padding: 5px 10px 10px 10px;
    background: url('../images/main/eventbox_bg.gif') no-repeat;
}
.favorite-list {}

/*슬로건*/

.slogan {
    background: orange
}

/*푸터*/

.footer {
    background: url('../images/common/footerbg.gif') repeat-x;
    width: 100%;
}
.footer-inner {
    margin: 0 auto;
}